<div style="border:1px solid black;border-radius:2px;padding:5px;">
    @using (Html.BeginForm("Insert", "Home", FormMethod.Post))
    {
        <input type="text" name="url" style="display:block" />
        <input type="text" name="description" style="display:block" />
        <div style="display:inline-flex">
            <button type="submit">OK</button>
            <button type="reset" onclick="clearDiv('#div1')">Cancel</button>
        </div>
    }
</div>